.traffic{
	margin-bottom: $margin-large;
	color:$color-accent-dark;
	&__title{
		font-size:$font-title-footer-sub;
		margin-bottom: $margin-large;
		color:$color-accent;
	}
	&__bus{
		margin-bottom: $margin-large;
		text-align: justify;
	}
	&__ship{
		&__tables{
			@extend %flex-column;
			width: 900px;
			background-color: $color-accent-blue;
			margin: $margin-large auto;
			overflow: hidden;
			padding-bottom: $padding-large;
			position: relative;
			box-sizing: content-box;
			span{
				display: inline-block;
				position: absolute;
				width: $large;
				height: $large;
				background-color: white;
				border-radius: $border-radius-circle;
				bottom: -27px;
				left: 0;
				&:nth-child(1){
					left:10px;
				}
				&:nth-child(2){
					left:70px;
				}
				&:nth-child(3){
					left:130px;
				}
				&:nth-child(4){
					left:190px;
				}
				&:nth-child(5){
					left:250px;
				}
				&:nth-child(6){
					left:310px;
				}
				&:nth-child(7){
					left:370px;
				}
				&:nth-child(8){
					left:430px;
				}
				&:nth-child(9){
					left:490px;
				}
				&:nth-child(10){
					left:550px;
				}
				&:nth-child(11){
					left:610px;
				}
				&:nth-child(12){
					left:670px;
				}
				&:nth-child(13){
					left:730px;
				}
				&:nth-child(14){
					left:790px;
				}
				&:nth-child(15){
					left:850px;
				}
			}
			&__title{
				display: flex;
				width: 100%;
				li{
					text-align: center;
					flex:1;
					padding-top: $padding-big;
					padding-bottom: $padding-base;
					margin-bottom: $margin-base;
					cursor: pointer;
					position: relative;
					background-color: $color-accent-blue;
					color:$color-white;
					&.active{
						background-color: $color-accent;
					}
					&:nth-child(2){
						background-color: $color-table;
						color:$color-accent-dark;
						&.active{
							background-color: $color-table-active;
						}
					}
					&:nth-child(3){
						background-color: $color-hover-light;
						&.active{
							background-color: $color-accent-light;
						}
					}
					span{
						display: inline-block;
						position: absolute;
						width: $large;
						height: $large;
						background-color: $color-white;
						border-radius: $border-radius-circle;
						top: -27px;
						left: 0;
						&:nth-child(1){
							left:10px;
						}
						&:nth-child(2){
							left:70px;
						}
						&:nth-child(3){
							left:130px;
						}
						&:nth-child(4){
							left:190px;
						}
						&:nth-child(5){
							left:250px;
						}
					}
				}
			}
			table{
				width: 80%;
				margin: $margin-base auto;
				border-collapse: collapse;
				border: 1px solid black;
			}
			td{
				border: 1px solid black;
				text-align: center;
				padding:$padding-small;
			}
		}
		a{
			display: inline-block;
			background-color: $color-accent-light;
			color:$color-white;
			margin-top: $margin-base;
			padding: $padding-small $padding-base;
			border-radius:$border-radius-min;
			&:hover{
				background-color: $color-hover-light; transition: box-shadow 0.2s; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
	&__park{
		display: inline-flex;
		flex-direction: column;
		margin-right: 25%;
		&__title{
			margin-bottom:$margin-base;
			font-size: $font-navbar;
		}
	}
	&__map{
		padding: 139px;
	}
}
