.foods{
	&__link{
		@extend %flex-space-between-wrap;
		margin-bottom: 100px;
		>li{
			width:16.9%;
			background-color: $color-accent;
			padding: $margin-base $margin-base;
			margin-bottom: $margin-large;
			text-align: center;
			border-radius: $border-radius-base;

			a{
				font-size: $font-link;
				color:$color-white;
			}
		}
	}
}
