.foods{
	&__link{
		@extend %flex-space-between-wrap;
		margin-bottom: $margin-middle-hue;
		>li{
			width:16.9%;
			background-color: $color-accent;
			padding: $padding-base;
			margin-bottom: $margin-large;
			text-align: center;
			border-radius: $border-radius-base;
			&:hover{
				background-color:$color-accent-dark ;
			}

			a{
				font-size: $font-link;
				color:$color-white;
			}
		}
	}
}
