.food{
	color:$color-accent-dark;
	&__card-1{
		position: relative;
		margin: $margin-large 0;
		img{
			width: 50%;
		}
		&__info{
			text-align: justify;
			position: absolute;
			width: 52%;
			background-color: $color-white;
			bottom: 0;
			right: 0;
			padding: $padding-big;
			border-radius: $border-radius-small;
			border-bottom-left-radius: 0px;
			h2{
				padding: $padding-big 0;
				padding-top: 0px;
				font-size: $font-link;
			}
			a{
				position: absolute;
				bottom: $big;
				right: $big;
				padding: $padding-small $padding-base;
				border-radius: $border-radius-small;
				font-size: $font-navbar;
				color: $color-white;
				background-color: $color-accent-light;
				&:hover{
					background-color: $color-hover-light; transition: box-shadow 0.2s; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
				}

			}
		}
	}
	&__card-2{
		text-align: end;
		position: relative;
		margin: $margin-large 0;
		img{
			width: 50%;
		}
		&__info{
			text-align: justify;
			position: absolute;
			width: 52%;
			background-color:$color-white;
			bottom: 0;
			left: 0;
			padding: $padding-big;
			border-radius: $border-radius-small;
			border-bottom-right-radius: 0px;
			h2{
				padding: $padding-big 0;
				padding-top: 0px;
				font-size: $font-link;
			}
			a{
				position: absolute;
				bottom: $big;
				right: $big;
				padding: $padding-small $padding-base;
				border-radius: $border-radius-small;
				font-size: $font-navbar;
				color: $color-white;
				background-color: $color-accent-light;
				&:hover{
					background-color: $color-hover-light; transition: box-shadow 0.2s; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}
