$margin-small:10px;
$margin-base: 20px;
$margin-base-large:25px;
$margin-large: 40px;
$margin-big: 50px;
$margin-hue:150px;

$padding-small: 10px;
$padding-base: 20px;
$padding-large: 40px;
$padding-big: 50px;

$navbar-height:100px;
$header-title:100px;
$footer-height:300px;
$footer-background:200px;
$main-section-height:250px;
$sub-title-area:150px;


$icon-base:70px;
$icon-small-base:30px;
$icon-small:25px;
$icon-large: 130px;

$logo:100px;

$border-radius-small:30px;
$border-radius-base:40px;
$border-radius-large:50px;
$border-radius-circle:50%;
