.info{
	margin-bottom: $margin-big;
	border-bottom: 2px solid $color-underline;
	color:$color-accent-dark;
	overflow: hidden;
	&__date{
		padding-bottom: $padding-base;
	}
	&__title{
		padding-bottom: $padding-base-hue;
		padding-top:$padding-base ;
		position: relative;
		cursor: pointer;
		&:hover{
			color:$color-hover-blue;
		}
		&__button{
			position: absolute;
			top:$base;
			right: 0;
			width: $big;
			height: $big;
			border-radius: $border-radius-circle;
			background-color: $color-accent-blue;
			transition: transform 500ms ;
			cursor: pointer;
			&.active{
				transform: rotate(-180deg);
			}
			&::before,&::after{
				position: absolute;
        content: '';
        width: 13px;
        height: 2px;
        top: 0;
        bottom: 0;
        left: 8px;
        right: 0;
        margin: auto;
        background-color: $color-white;
				border-radius: 1px;
        transform: rotate(-45deg);
			}
			&::after{
				left: -8px;
				transform: rotate(45deg)
			}
		}
		}
		&__container{
			background-color: $color-underline;
			height: 0px;
			transition:height 650ms cubic-bezier(0.86, 0, 0.07, 1);
			will-change: height;
			&.active{
				height: 750px;
				overflow:scroll;
			}
			img{
				width: 100%;
			}
			p{
				padding: $padding-base $padding-big;
				text-align: justify;
			}
		}
	}
