.info{
	margin-bottom: 30px;
	border-bottom: 1px solid $color-underline;
	color:$color-accent-dark;
	overflow: hidden;
	&__date{
		padding-bottom: 20px;
	}
	&__title{
		padding-bottom: 50px;
		padding-top:20px ;
		position: relative;
		cursor: pointer;
		&__button{
			position: absolute;
			top:20px;
			right: 0;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $color-accent-blue;
			cursor: pointer;
			&::before,&::after{
				position: absolute;
        content: '';
        width: 13px;
        height: 2px;
        top: 0;
        bottom: 0;
        left: 8px;
        right: 0;
        margin: auto;
        background-color: $color-white;
				border-radius: 1px;
        transform: rotate(-45deg);
			}
			&::after{
				left: -8px;
				transform: rotate(45deg)
			}
		}
		}
		&__container{
			background-color: $color-underline;
			height: 0px;
			transition:height 650ms cubic-bezier(0.86, 0, 0.07, 1);
			will-change: height;
			&.active{
				height: 750px;
				overflow:scroll;
			}
			div{
				width:94.01% ;
				margin: 0 auto;
				padding: 30px 0 30px 0;
			}
			img{
				width: 100%;
			}
			p{
				padding-top: 20px;
				text-align: justify;
			}
		}
	}
