%background-img-position{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

%background-title-icon{
	background-position: center;
	background-size: cover;
}

%main-title-icon{
		background-position: center;
			background-repeat: no-repeat;
}
