.event{
position: relative;

&__icon{
	position: absolute;
	width: 70px;

	img{
		width: 100%;
	}
}

&__title{
	width: 93%;
	margin-left: 70px;
	font-size:$font-title;
	margin-top: 100px;
	padding: $margin-base 0;
	color:$color-accent;
	&:hover{
		color:#5B7893;
	}
}

&__container{
	display: flex;
}

&__item{
	width: 25%;
	margin: 0 20px;
	&:hover{
		img{
			opacity: 0.5;
		}
		h3{
			color:#5B7893;
		}
		a{
			color:#5B7893;
		}
	}

	img{
		width: 100%;

	}
}

&__info{
	@extend %flex-between;
	margin:$margin-large 0;

	h3{
		font-size: $font-navbar;
	}

	a{
		text-align: end;
		color:$color-gray;
		font-size:$font-date;
	}
}
}
