.home{
	width: 100%;
	height: 80vh;
  background-image: url(../public/picture/header-cover/home.png);
	@extend %background-img-position;
	@extend %flex-center;
	color:$color-white;
	&__title{
		font-size: $font-big-title;
	}
}
