.news{
	position: relative;
	margin-left: 7%;
	width: 66%;

	&__title{
		font-size:$font-title;
		padding: $padding-base 0;
		color:$color-accent;
		margin-top: $margin-extra-hue;
		&:hover{
			color:$color-accent-blue
		}
	}

	&__icon{
		position: absolute;
		width: $icon-base;
		top:0;
		left: -70px;

		img{
			width: 100%;
			transform: rotate(90deg);
		}
	}

	&__figure{
		position: absolute;
		width: 27%;
		bottom: 0;
		right: -27%;

		img{
			width: 100%;
			transform: scaleX(-1);
		}
	}

	&__content{
		padding-bottom: $margin-base;

		li{
			border-bottom: 2px solid $color-accent;
			margin: $margin-base 0;
			padding-bottom: $padding-base;


			a{
				font-size: $font-navbar;
				color:$color-accent-dark;
				&:hover{
					color:$color-accent-blue;
				}
			}
		}
	}

	&__date{
		display: block;
		font-size: $font-date;
		margin:$margin-small 0;
		color:$color-accent-dark;
	}
}
