.hotel{
	position: relative;
	color:$color-accent-dark;

&__image{
	width: 100%;
	border-radius:$border-radius-base;
}

&__title{
	margin-top: $margin-base;
	font-size :$font-title-footer-sub; ;
}

&__introduce{
	margin-top: $margin-base;

	&__contact{
		width: 80%;
		margin: $margin-large auto;

		&-address{
		display: inline-block;

			&::before{
				display: inline-block;
				content: '';
				background-image: url(../public/icon/blackicon/location.png);
				@extend %background-title-icon;
				width: $icon-small;
				height: $icon-small;
			}
		}
		&-phone{
			display: inline-block;

			&::before{
				display: inline-block;
				margin-left: $margin-big;

				content: '';
				background-image: url(../public/icon/blackicon/phone.png);
				@extend %background-title-icon;
				width: $icon-small;
				height: $icon-small;
			}
		}
		}

}
&__feature{
	@extend %flex-around;
	margin-top: $margin-base;
	margin: 0 auto;
	background-color: $color-accent-light;
	width: 80%;
	height: $main-section-height;
	border-radius: $border-radius-large;
	color:$color-white;

&__items{
	position: relative;
	font-size: $font-navbar;

	img{
		position: absolute;
		top:-$margin-large;
		left: -$margin-large;
	}

	&-title{
		position: absolute;
		top:-$margin-large;
		font-size:$font-title-footer-sub ;
		margin-left: -$margin-base-large;

		&::before{
			display: inline-block;
			content: '';
			width:$icon-small ;
			height: $icon-small;
			background-image: url(../public/icon/megaphone.png);
			@extend %main-title-icon;
		}
	}
}
}

&__link{
	display: block;
	text-align: end;
	margin: $margin-large 10%;
	color:$color-gray;
}
}
