.hotel{
	position: relative;
	color:$color-accent-dark;
&__image{
	width: 100%;
	border-radius: 20px;
}
&__title{
	margin-top: $margin-base;
	font-size :$font-title-footer-sub; ;
}
&__introduce{
	margin-top: $margin-base;
}
&__contact-container{

	margin-top:$margin-large;
	margin-bottom:$margin-large;
	li{
		display: inline-block;
		margin-right: 20%;
		img{
			width: 50px;
			height: 50px;
		}
	}
}
&__feature{
	@extend %flex-around;
	margin-top: $margin-base;
	margin: 0 auto;
	background-color: $color-accent-light;
	width: 80%;
	height: 250px;
	border-radius: 50px;
	color:$color-white;
&__items{
	position: relative;
	font-size: $font-navbar;
	img{
		position: absolute;
		top:-$margin-large;
		left: -$margin-large;
	}
	&-title{
		position: absolute;
		top:-$margin-large;
		font-size:$font-title-footer-sub ;
	}
}
}
&__link{
	display: block;
	text-align: end;
	margin: $margin-large 10%;
	color:$color-gray;
}
}
