.stay{
	background-image: url(../public/picture/header-cover/stay.png);
  @extend %background-img-position;
  width: 100%;
  height: 80vh;
  position: relative;

	&__container{
    @extend %flex-center-end;
		position: absolute;
		bottom: 0;
    background-color: $color-white;
    width: 30.21%;
    height: $header-title;
    border-top-right-radius: $margin-large;
	}

  &__title{
    text-align: center;
    color:$color-accent-dark;
		font-size:$font-title;
    padding-bottom: $padding-small;
    padding-left: $padding-big;
    position: relative;

    &::before{
      position: absolute;
      display: inline-block;
      bottom:0;
      left: -40px;
      content: '';
      width: $icon-base;
      height: $icon-base;
      background-image: url(../public/icon/shell-4.png);
      @extend %background-title-icon;
    }
  }
}
