/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home, .event button, .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar, .event__container, .event__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer, .hotel__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home, .about-us, .stay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  height: 100px;
  width: 84.167%;
  margin: 0 auto;
  font-size: 1.125rem;
}

.navbar__logo {
  width: 100px;
  height: 100px;
}

.navbar__logo img {
  width: 100%;
}

.navbar__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__link a {
  margin-left: 40px;
  color: #123C62;
}

.navbar__outside-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar__outside-link a {
  margin-left: 20px;
}

.navbar__outside-link img {
  height: 50px;
  width: 50px;
}

.header {
  width: 100%;
  height: 80vh;
}

.main {
  width: 84.167%;
  margin: 10vh auto;
  margin-bottom: 30vh;
}

.footer {
  background-color: #3DA3FF;
  width: 100%;
  height: 300px;
  position: relative;
  color: #ffffff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer::before {
  position: absolute;
  top: -198px;
  left: 0;
  background-image: url(../public/picture/footer-cover/wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: '';
  display: block;
  width: 100%;
  height: 200px;
}

.footer__logo h3 {
  margin-top: 20px;
  font-size: 1.875rem;
  text-align: center;
}

.footer__info__contact-e {
  font-size: 1.125rem;
}

.footer__info__contact-c {
  font-size: 1.375rem;
  margin-top: 10px;
}

.footer__info__address {
  font-size: 1.125rem;
  margin: 20px 0;
}

.footer__info__email::before {
  display: inline-block;
  content: '';
  margin-right: 10px;
  background-image: url(../public/icon/email.png);
  width: 25px;
  height: 25px;
}

.footer__info__phone {
  margin-top: 10px;
}

.footer__info__phone::before {
  display: inline-block;
  content: '';
  margin-right: 10px;
  background-image: url(../public/icon/phone.png);
  width: 25px;
  height: 25px;
}

.footer__visits-e {
  font-size: 1.125rem;
}

.footer__visits-c {
  margin: 10px 0;
  font-size: 1.375rem;
}

.footer__visits__update {
  margin-bottom: 50px;
}

.footer__visits img {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.footer__copyright {
  font-size: 0.875rem;
  position: absolute;
  bottom: 0;
  color: #ffffff;
}

.home {
  width: 100%;
  height: 80vh;
  background-image: url(../public/picture/header-cover/home.png);
  color: #ffffff;
}

.home__title {
  font-size: 3.125rem;
}

.event {
  position: relative;
}

.event__icon {
  position: absolute;
  width: 5.946%;
}

.event__icon img {
  width: 100%;
}

.event__title {
  width: 94.05%;
  margin-left: 5.946%;
  font-size: 1.5rem;
  padding: 20px 0;
  color: #3DA3FF;
}

.event__item {
  width: 26%;
}

.event__item img {
  width: 100%;
}

.event__info {
  margin: 40px 0;
}

.event__info h3 {
  font-size: 1.125rem;
}

.event__info a {
  text-align: end;
  color: #7C7C7C;
  font-size: 0.875rem;
}

.event button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  position: absolute;
  background-color: #BEBEBE;
  color: #ffffff;
  cursor: pointer;
}

.event__button-1 {
  top: 21vh;
  left: -5.946%;
}

.event__button-2 {
  top: 21vh;
  right: -5.946%;
}

.map {
  margin-top: 20px;
}

.map__deer {
  width: 16.49%;
}

.map__location {
  width: 62.72%;
  border: 1px solid #3DA3FF;
  border-radius: 40px;
  margin-left: 10px;
}

.map__location img {
  width: 100%;
}

.news {
  position: relative;
  margin-left: 9.025%;
  width: 65.975%;
}

.news__title {
  font-size: 1.5rem;
  padding: 20px 0;
  color: #3DA3FF;
}

.news__icon {
  position: absolute;
  width: 9.025%;
  top: 0;
  left: -9.025%;
}

.news__icon img {
  width: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.news__figure {
  position: absolute;
  width: 25%;
  bottom: 0;
  right: -25%;
}

.news__figure img {
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.news__content {
  padding-bottom: 20px;
}

.news__content li {
  border-bottom: 1px solid #123C62;
  margin: 20px 0;
  padding-bottom: 20px;
}

.news__content li p {
  font-size: 1.125rem;
  color: #123C62;
}

.news__date {
  display: block;
  font-size: 0.875rem;
  margin: 10px 0;
  color: #123C62;
}

.about-us {
  background-image: url(../public/picture/header-cover/about.png);
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.about-us__container {
  position: absolute;
  bottom: -5%;
  left: -5%;
  background-color: #ffffff;
  width: 30.21%;
  height: 150px;
  border-radius: 40px;
}

.about-us__title {
  text-align: end;
  color: #123C62;
  padding: 40px 20px;
  font-size: 1.5rem;
}

.about-us__title::before {
  display: inline-block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../public/icon/shell-3.png);
  background-position: center;
  background-size: cover;
}

.history__items {
  line-height: 1.4;
  margin-bottom: 20px;
  color: #123C62;
}

.history img {
  width: 42%;
  margin-left: 58%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.stay {
  background-image: url(../public/picture/header-cover/stay.png);
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.stay__container {
  position: absolute;
  bottom: -5%;
  left: -5%;
  background-color: #ffffff;
  width: 30.21%;
  height: 150px;
  border-radius: 40px;
}

.stay__title {
  text-align: end;
  color: #123C62;
  padding: 40px 20px;
  font-size: 1.5rem;
}

.stay__title::before {
  display: inline-block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../public/icon/shell-4.png);
  background-position: center;
  background-size: cover;
}

.hotel {
  position: relative;
  color: #123C62;
}

.hotel__image {
  width: 100%;
  border-radius: 20px;
}

.hotel__title {
  margin-top: 20px;
  font-size: 1.375rem;
}

.hotel__introduce {
  margin-top: 20px;
}

.hotel__introduce__contact {
  width: 80%;
  margin: 40px auto;
}

.hotel__introduce__contact-address {
  display: inline-block;
}

.hotel__introduce__contact-address::before {
  display: inline-block;
  content: '';
  background-image: url(../public/icon/blackicon/location.png);
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.hotel__introduce__contact-phone {
  display: inline-block;
}

.hotel__introduce__contact-phone::before {
  display: inline-block;
  margin-left: 50px;
  content: '';
  background-image: url(../public/icon/blackicon/phone.png);
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.hotel__feature {
  margin-top: 20px;
  margin: 0 auto;
  background-color: #FFB72A;
  width: 80%;
  height: 250px;
  border-radius: 50px;
  color: #ffffff;
}

.hotel__feature__items {
  position: relative;
  font-size: 1.125rem;
}

.hotel__feature__items img {
  position: absolute;
  top: -40px;
  left: -40px;
}

.hotel__feature__items-title {
  position: absolute;
  top: -40px;
  font-size: 1.375rem;
  margin-left: -25px;
}

.hotel__feature__items-title::before {
  display: inline-block;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../public/icon/megaphone.png);
  background-position: center;
  background-repeat: no-repeat;
}

.hotel__link {
  display: block;
  text-align: end;
  margin: 40px 10%;
  color: #7C7C7C;
}
/*# sourceMappingURL=style.css.map */