.event{
background-color: yellowgreen;
position: relative;
&__title{
	font-size:$title;
	padding: $padding-base 0;
}
&__container{
	@extend %flex-between;
}
&__item{
	@extend %flex-column;
	background-color: blueviolet;
	width: 26%;
	div{
		align-self: center;
		width: 250px;
		height: 250px;
		background-color: #000000;
		border-radius: 50%;
		margin-bottom:$margin-large;
	}
}
&__info{
@extend %flex-between;
	h3{
		font-size: 1.5rem;
	}
	a{
		font-size: 1.25rem;
	}
}
button{
	@extend %flex-center;
	width: $padding-large;
	height: $padding-large;
	border: none;
	border-radius: 50%;
}
}
