.hotel{
	position: relative;
&__image{
	width: 100%;
	border-radius: 20px;
}
&__title{
	margin-top: $margin-base;
	font-size :$font-title-footer-sub; ;
}
&__introduce{
	margin-top: $margin-base;
}
&__contact-container{

	margin-top:$margin-large;
	margin-bottom:$margin-large;
	p{
		display: inline-block;
		margin: 0 $margin-base;
	}
}
&__feature{
	@extend %flex-around;
	margin-top: $margin-base;
	margin: 0 auto;
	background-color: blanchedalmond;
	width: 80%;
	height: 250px;
	border-radius: 50px;
&__items{
	position: relative;
	font-size: $font-navbar;
	h3{
		position: absolute;
		top:-$margin-large;
		font-size:$font-title-footer-sub ;
	}
}
}
&__link{
	display: block;
	text-align: end;
	margin: $margin-large 10%;
}
}
