.map{
	margin-top: $margin-base;
	display: flex;
	background-color: goldenrod;
	&__deer{
		height: 400px;
	}
&__location{
	flex:1;
background-color: #000000;
width: 800px;
height: 400px;
border: 1px solid blue;
border-radius: 10px;
}
}
