.stay__header{
	background-image: url(../picture/hotel-header.jpg);
  @extend %background-img-position;
  width: 100%;
  height: 80vh;
  position: relative;
	overflow: hidden;
	&__title{
		position: absolute;
		bottom: -10%;
    left: -5%;
    background-color: beige;
    width: 30.21%;
    height: 152px;
    border-radius: $margin-large;
		h2{
      text-align: end;
      padding: $margin-large $padding-base;
      font-size:$font-title;
		}
	}
}
