.footer{
	@extend %flex-around;
	background-color: $color-accent;
	width: 100%;
	height: $footer-height;
	position: relative;
	color:$color-white;
	box-sizing: content-box;
	&::before{
		@extend %background-img-position;
		position: absolute;
		top:-198px;
		left: 0;
		background-image: url(../public/picture/footer-cover/wave.png);
		content: '';
		display: block;
		width: 100%;
		height: 200px;
	}

	&__logo{
		h3{
			margin-top: $margin-base;
			font-size: $font-title-footer;
			text-align: center;
		}
	}

	&__info{
		&__contact-e{
			font-size: $font-navbar;
		}

		&__contact-c{
			font-size: $font-title-footer-sub;
			margin-top: $margin-small;
		}
		&__address{
			font-size: $font-navbar;
			margin: $margin-base 0;
		}
		&__email{
			&::before{
				display:inline-block;
				content:'';
				margin-right: $margin-small;
				background-image: url(../public/icon/email.png);
				width:$icon-small;
				height: $icon-small;
			}
		}
&__phone{
	margin-top: $margin-small;
		&::before{
			display:inline-block;
			content:'';
			margin-right: $margin-small;
			background-image: url(../public/icon/phone.png);
			width: $icon-small;
			height:$icon-small;
			}
		}
	}
	&__visits{
		&-e{
			font-size: $font-navbar;
		}
		&-c{
			margin: $margin-small 0;
			font-size: $font-title-footer-sub;
		}
		&__update{
			margin-bottom:$margin-big ;
		}
		img{
			margin-right:$margin-base ;
			width: $icon-small;
			height: $icon-small;
		}
	}
	&__copyright{
		font-size: $font-date;
		position: absolute;
		bottom:0;
		color:$color-white ;
	}
}
