.footer{
	@extend %flex-around;
	width: 100%;
	height: $footer-height;
	position: relative;
	color:$color-white;
	box-sizing: content-box;
	background-color: $color-accent;
	&::before{
		display: block;
		content: '';
		width: 100%;
		height: 200px;
		position: absolute;
		top:-200px;
		background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='200%25' id='svg' viewBox='0 0 1440 600' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cstyle%3E .path-0%7B animation:pathAnim-0 4s; animation-timing-function: linear; animation-iteration-count: infinite; %7D @keyframes pathAnim-0%7B 0%25%7B d: path('M 0,600 C 0,600 0,300 0,300 C 86.63589743589742,327.00256410256407 173.27179487179484,354.0051282051282 239,316 C 304.72820512820516,277.9948717948718 349.54871794871804,174.98205128205132 439,192 C 528.451282051282,209.01794871794868 662.5333333333333,346.06666666666666 751,351 C 839.4666666666667,355.93333333333334 882.3179487179489,228.75128205128203 949,202 C 1015.6820512820511,175.24871794871797 1106.194871794872,248.92820512820515 1192,282 C 1277.805128205128,315.07179487179485 1358.9025641025642,307.5358974358974 1440,300 C 1440,300 1440,600 1440,600 Z'); %7D 25%25%7B d: path('M 0,600 C 0,600 0,300 0,300 C 99.01025641025643,243.53076923076924 198.02051282051286,187.06153846153848 265,203 C 331.97948717948714,218.93846153846152 366.9282051282051,307.2846153846154 436,322 C 505.0717948717949,336.7153846153846 608.2666666666668,277.8 702,294 C 795.7333333333332,310.2 880.0051282051284,401.5153846153846 953,393 C 1025.9948717948716,384.4846153846154 1087.7128205128206,276.13846153846157 1167,244 C 1246.2871794871794,211.86153846153846 1343.1435897435897,255.93076923076922 1440,300 C 1440,300 1440,600 1440,600 Z'); %7D 50%25%7B d: path('M 0,600 C 0,600 0,300 0,300 C 82.68974358974356,340.26153846153846 165.3794871794871,380.5230769230769 239,371 C 312.6205128205129,361.4769230769231 377.171794871795,302.1692307692308 460,294 C 542.828205128205,285.8307692307692 643.9333333333332,328.80000000000007 731,338 C 818.0666666666668,347.19999999999993 891.094871794872,322.6307692307692 976,310 C 1060.905128205128,297.3692307692308 1157.6871794871795,296.67692307692306 1237,297 C 1316.3128205128205,297.32307692307694 1378.1564102564103,298.6615384615385 1440,300 C 1440,300 1440,600 1440,600 Z'); %7D 75%25%7B d: path('M 0,600 C 0,600 0,300 0,300 C 100.54615384615386,307.8307692307692 201.0923076923077,315.66153846153844 266,309 C 330.9076923076923,302.33846153846156 360.17692307692306,281.18461538461537 436,270 C 511.82307692307694,258.81538461538463 634.1999999999999,257.6 713,234 C 791.8000000000001,210.39999999999995 827.0230769230769,164.4153846153846 915,203 C 1002.9769230769231,241.5846153846154 1143.7076923076925,364.7384615384616 1240,395 C 1336.2923076923075,425.2615384615384 1388.1461538461538,362.6307692307692 1440,300 C 1440,300 1440,600 1440,600 Z'); %7D 100%25%7B d: path('M 0,600 C 0,600 0,300 0,300 C 86.63589743589742,327.00256410256407 173.27179487179484,354.0051282051282 239,316 C 304.72820512820516,277.9948717948718 349.54871794871804,174.98205128205132 439,192 C 528.451282051282,209.01794871794868 662.5333333333333,346.06666666666666 751,351 C 839.4666666666667,355.93333333333334 882.3179487179489,228.75128205128203 949,202 C 1015.6820512820511,175.24871794871797 1106.194871794872,248.92820512820515 1192,282 C 1277.805128205128,315.07179487179485 1358.9025641025642,307.5358974358974 1440,300 C 1440,300 1440,600 1440,600 Z'); %7D %7D%3C/style%3E%3Cpath d='M 0,600 C 0,600 0,300 0,300 C 86.63589743589742,327.00256410256407 173.27179487179484,354.0051282051282 239,316 C 304.72820512820516,277.9948717948718 349.54871794871804,174.98205128205132 439,192 C 528.451282051282,209.01794871794868 662.5333333333333,346.06666666666666 751,351 C 839.4666666666667,355.93333333333334 882.3179487179489,228.75128205128203 949,202 C 1015.6820512820511,175.24871794871797 1106.194871794872,248.92820512820515 1192,282 C 1277.805128205128,315.07179487179485 1358.9025641025642,307.5358974358974 1440,300 C 1440,300 1440,600 1440,600 Z' stroke='none' stroke-width='0' fill='%233da3ffff' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3C/svg%3E");
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-size: cover;
	}


	&__logo{
		width: 200px;
		height: 200px;
		text-align: center;
		img{
			width: 100%;
		}
		h3{
			margin-top: $margin-base;
			font-size: $font-title-footer;
		}
		img{
			width: 80%;
		}
	}

	&__info{
		&__contact-e{
			font-size: $font-navbar;
		}

		&__contact-c{
			font-size: $font-title-footer-sub;
			margin-top: $margin-small;
		}
		&__address{
			font-size: $font-navbar;
			margin: $margin-base 0;
		}
		&__email{
			a{
				color:white;
				&:hover{
					color:#B8DDFF;
					img{
						opacity: 0.5;
					}
				}
			}
		}
&__phone{
	margin-top: $margin-small;

	a{
		color:white;
		&:hover{
			color:#B8DDFF;
			img{
				opacity: 0.5;
			}
		}
	}
}
	}
	&__visits{
		&-e{
			font-size: $font-navbar;
		}
		&-c{
			margin: $margin-small 0;
			font-size: $font-title-footer-sub;
		}
		&__update{
			margin-bottom:$margin-big ;
		}
		img{
			margin-right:$margin-base ;
			width: $icon-small;
			height: $icon-small;
			&:hover{
				opacity: 0.5;
			}
		}
	}
	&__copyright{
		font-size: $font-date;
		position: absolute;
		bottom:0;
		color:$color-white ;
	}
}
