header {
@extend %layout-header;
}
.header{
	&__home{
		position: relative;
		div{
			width: 100%;
			height: inherit;
			img{
				width: 100%;
				height: inherit;
			}
		}
		&__title{
			position: absolute;
			top:50%;
			left: 40% ;
			font-size:$font-big-title;
			color:$color-white
		}
	}

	&__about-us{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/about.png);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
			}
		}
	}

	&__stay{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/stay.png);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
			}
		}
	}

	&__attractions{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/attractions.png);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
			}
		}
		&__animal{
			position: absolute;
			width: 29.0625%;
			transform: scaleX(-1);
			bottom: -10%;
			right: 0%;
		}
	}

	&__news{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/news.png);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
				transform: rotate(90deg);
			}
		}
	}

	&__events{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/events.png);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
			}
		}
	}
	&__food{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/food.jpg);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
			}
		}
	}
	&__traffic{
		@extend %background-img-position;
		background-image: url(../public/picture/header-cover/traffic.png);
		position: relative;
		&__container{
			@extend %layout-header-section;
			&__title{
				@extend %layout-header-title;
			}
			img{
				@extend %layout-header-icon;
			}
		}
	}
}
