.navbar{
	@extend %flex-between;
	@extend %layout-navbar;
	font-size:$font-navbar;

	&__logo{
	width: $logo;
	height: $logo;

		img{
		width: 100%;
		&:hover{
			opacity: 0.5;
		}
		}
	}

	&__link{
		@extend%flex-inline-end-center;
		flex:1;

		li{
			position: relative;
			overflow: hidden;
			&:hover{
				overflow: visible;
			}

		}

		a{
			padding-left: $padding-large;
			color:$color-accent-dark;
			&:hover{
				color:$color-accent-blue;
			}
		}

		&-sub{
			position: absolute;
			width: 100%;
			background-color: $color-white;
			padding-top: 37.405px;
			z-index: $index-on;

			li{
				text-align: center;
				border-bottom: 1px solid $color-accent;
				padding: $padding-base 0;

				&:last-child{
					border:none
				}

				a{
					padding-left: 0;
				}

			}
		}
	}

	&__outside-link{
		display: inline-flex;

		a{
			margin-left: $margin-base;
		}

		img{
			height: $icon-small;
			width: $icon-small;
		}
	}
}
