.destinations{
margin-top: $margin-extra-hue;

&__items{
	position: relative;
	margin-bottom: $margin-extra-hue;

	img{
		width: 100%;
		border-radius: $border-radius-small;
	}

	&__introduce{
		margin-top: $margin-big;
		color:$color-accent-dark;
	}

	&__title{
		position: absolute;
		@extend %flex-center;
		text-align: center;
		top:-10%;
		width:$sub-title-area;
		height: $sub-title-area;
		border-radius: $border-radius-circle;
		background-color: white;
		box-shadow: 0px 0px 6px 1px $color-gray;
		color:$color-accent-dark;
		font-size:$font-link ;
	}
}
}
