.tourist-spots{
	&__link{
		@extend %flex-space-between-wrap;

		>li{
			width: 11.72%;
			max-width: 11.72%;
			background-color: $color-accent;
			padding: $margin-base $margin-large;
			margin-bottom: $margin-large;
			text-align: center;
			border-radius: $border-radius-base;

			a{
				font-size: $font-link;
				color:$color-white;
			}
		}
	}
}
