.detal{
	border-bottom: 2px solid $color-accent-blue;
	&__title{
		padding: $padding-base 0;
		padding-left: $padding-middle-hue;
		font-size: $font-title-footer-sub;
		background-color: $color-accent-blue;
		color:$color-white;
	}
	&__image{
		width: 100%;
	}
	&__info{
		margin-top: $margin-small-hue;
		margin-bottom: $margin-middle-hue;
		color: $color-accent-dark;
		text-align: justify;
	}
	&__date{
		margin-bottom: $margin-base-hue;
		color: $color-accent-dark;
	}
	&__back{
		@extend %flex-end;
		margin-top: $margin-base;
		font-size: $font-navbar;
		&:hover{
			a{
				color:$color-accent;
			}
			div{
				background-color: $color-accent;
			}
		}
		a{
			color: $color-accent-blue;
		}
		&__button{
			position: relative;
			margin-right: $margin-small;
			width: $big;
			height: $big;
			border-radius: $border-radius-circle;
			background-color: $color-accent-blue;
			cursor: pointer;
			&::before,&::after{
				position: absolute;
				display: block;
				top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
				width: 13px;
				height: 2px;
				margin: auto;
				background-color: $color-white;
				content: '';
				border-radius: 1px;
				transform: rotate(-135deg);
			}
			&::after{
				top: -8px;
				transform: rotate(135deg)
			}
		}
	}
}
