.events{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__cards{
		width:450px ;
		height: 470px;
		margin-bottom: $margin-large;
		&:hover{
			img{
				opacity: 0.5;
			}
			span{
				background-color:$color-accent;
			}
		}
		&__image{
			width: 100%;
			margin: 0 auto;
			border-radius: $border-radius-small;
		}
		&__info{
			margin-top: $margin-big;
			&__date{
				color:$color-accent-dark;
			}
			&__title{
				position: relative;
				margin-top:$margin-base;
				font-size:$font-navbar ;
				color:$color-accent-dark;
				span{
					position: absolute;
					right: 0;
					font-size: $font-date;
					background-color: $color-accent-blue;
					border-radius: $border-radius-little;
					a{
						color:$color-white;
						padding: $padding-base $padding-small;
					}
				}
			}
		}
	}
}
